<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQlIte connection
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous lab to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [1]:
# provide your solution here
library("RSQLite")

In [2]:
conn <- dbConnect(RSQLite::SQLite(),"CapstoneDB.sqlite")

In [3]:
tables <- dbGetQuery(conn, "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%'")$name

# Drop all tables
for (table in tables) {
  dbExecute(conn, paste0("DROP TABLE IF EXISTS ", table))
}

-- Create query for world_cities
CREATE TABLE WORLD_CITIES (
    CITY	VARCHAR(50),
    CITY_ASCII VARCHAR(50),
    LAT DECIMAL(20,2),
    LNG DECIMAL(20,2),
    COUNTRY	VARCHAR(50),
    ISO2 VARCHAR(5),
    ISO3 VARCHAR(5),
    ADMIN_NAME VARCHAR(100),	
    CAPITAL	VARCHAR(50),
    POPULATION BIGINT,
    ID BIGINT NOT NULL
);
-- Create query for bike_sharing
CREATE TABLE BIKE_SHARING_SYSTEMS (
    COUNTRY	VARCHAR(20),
    CITY VARCHAR(87),
    SYSTEM VARCHAR(40),
    BICYCLES VARCHAR(5)
);
-- Create query for cities_weather_forecast
CREATE TABLE CITIES_WEATHER_FORECAST (
    CITY VARCHAR(16),
    WEATHER VARCHAR(6),
    VISIBILITY SMALLINT,
    TEMP DECIMAL(6,2),
    TEMP_MIN DECIMAL(6,2),
    TEMP_MAX DECIMAL(6,2),
    PRESSURE SMALLINT,
    HUMIDITY SMALLINT,
    WIND_SPEED DECIMAL(6,2),
    WIND_DEG SMALLINT,
    SEASON VARCHAR(6),
    FORECAST_DATETIME TIMESTAMP
);
-- Create query for seoul_bike_sharing
CREATE TABLE SEOUL_BIKE_SHARING (
    DATE VARCHAR(30),
    RENTED_BIKE_COUNT SMALLINT,
    HOUR SMALLINT,
    TEMPERATURE DECIMAL(4,1),
    HUMIDITY SMALLINT,
    WIND_SPEED DECIMAL(3,1),
    VISIBILITY SMALLINT,
    DEW_POINT_TEMPERATURE DECIMAL(4,1),
    SOLAR_RADIATION DECIMAL(5,2),
    RAINFALL DECIMAL(3,1),
    SNOWFALL DECIMAL(3,1),
    SEASONS	VARCHAR(10),
    HOLIDAY	VARCHAR(20),
    FUNCTIONING_DAY VARCHAR(5)
);

In [4]:
dbExecute(conn, "CREATE TABLE WORLD_CITIES (                            
                            CITY VARCHAR(15) NOT NULL,
                            CITY_ASCII VARCHAR(15) NOT NULL,
                            LAT DECIMAL,
                            LNG DECIMAL,
                            COUNTRY VARCHAR(15),
                            ISO2 CHAR(2),
                            ISO3 CHAR(3),
                            ADMIN_NAME VARCHAR(15),
                            CAPITAL VARCHAR(10),
                            POPULATION INTEGER,
                            CITY_ID CHAR(10) NOT NULL,
                            PRIMARY KEY (CITY_ID))", 
                errors=FALSE)

[1] 0

In [5]:
dbExecute(conn, "CREATE TABLE BIKE_SHARING_SYSTEMS (                            
                            COUNTRY VARCHAR(15) NOT NULL,
                            CITY VARCHAR(15) NOT NULL,
                            SYSTEM VARCHAR(15),
                            BICYCLES INTEGER,
                            PRIMARY KEY (COUNTRY, CITY))", 
                errors=FALSE)

[1] 0

In [6]:
dbExecute(conn, "CREATE TABLE CITIES_WEATHER_FORECAST (                            
                            CITY VARCHAR(15) NOT NULL,
                            WEATHER VARCHAR(10),
                            VISIBILITY INTEGER,
                            TEMPERATURE DECIMAL,
                            TEMP_MIN DECIMAL,
                            TEMP_MAX DECIMAL,
                            PRESSURE INTEGER,
                            HUMIDITY INTEGER,
                            WIND_SPEED DECIMAL,
                            WIND_DEG INTEGER,
                            SEASON VARCHAR(10),
                            DATETIME DATETIME,
                            PRIMARY KEY (CITY, DATETIME))",

                            errors=FALSE
        )

[1] 0

In [7]:
dbExecute(conn, "CREATE TABLE SEOUL_BIKE_SHARING (                            
                            DATE DATE NOT NULL,
                            RENTED_BIKE_COUNT INTEGER,
                            HOUR INTEGER NOT NULL,
                            TEMPERATURE DECIMAL,
                            HUMIDITY INTEGER,
                            WIND_SPEED DECIMAL,
                            VISIBILITY INTEGER,
                            DEW_POINT_TEMP DECIMAL,
                            SOLAR_RADIATION DECIMAL,
                            RAINFALL DECIMAL,
                            SNOWFALL DECIMAL,
                            SEASONS VARCHAR(10),
                            HOLIDAY VARCHAR(15),
                            FUNCTIONING_DAY VARCHAR(10),
                            PRIMARY KEY (DATE, HOUR))",

                            errors=FALSE
        )

[1] 0

In [8]:
df_seoul <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv")

In [9]:
df_city <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv")

In [10]:
df_bss <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv")

In [11]:
df_weather <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv")

In [12]:
dbWriteTable(conn, "WORLD_CITIES", df_city, overwrite=TRUE, header = TRUE)

In [13]:
dbWriteTable(conn, "BIKE_SHARING_SYSTEMS", df_bss, overwrite=TRUE, header = TRUE)

In [14]:
dbWriteTable(conn, "CITIES_WEATHER_FORECAST", df_weather, overwrite=TRUE, header = TRUE)

In [15]:
dbWriteTable(conn, "SEOUL_BIKE_SHARING", df_seoul, overwrite=TRUE, header = TRUE)

In [16]:
tables <- dbGetQuery(conn, "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%'")$name

In [17]:
tables

[1] "WORLD_CITIES"            "BIKE_SHARING_SYSTEMS"
[3] "CITIES_WEATHER_FORECAST" "SEOUL_BIKE_SHARING"

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [23]:
# provide your solution here
dbGetQuery(conn, 'SELECT SUM(RENTED_BIKE_COUNT) FROM SEOUL_BIKE_SHARING')

  SUM(RENTED_BIKE_COUNT)
1 6172314

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [29]:
# provide your solution here
dbGetQuery(conn, 'SELECT * FROM SEOUL_BIKE_SHARING WHERE RENTED_BIKE_COUNT <= 0')

     DATE RENTED_BIKE_COUNT HOUR TEMPERATURE HUMIDITY WIND_SPEED VISIBILITY
     DEW_POINT_TEMPERATURE SOLAR_RADIATION RAINFALL SNOWFALL SEASONS HOLIDAY
     FUNCTIONING_DAY

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [31]:
# provide your solution here
dbGetQuery(conn, 'SELECT * FROM CITIES_WEATHER_FORECAST LIMIT 1')

  CITY  WEATHER VISIBILITY TEMP  TEMP_MIN TEMP_MAX PRESSURE HUMIDITY WIND_SPEED
1 Seoul Clear   10000      12.32 10.91    12.32    1015     50       2.18
  WIND_DEG SEASON FORECAST_DATETIME
1 248      Spring 2021-04-16 12:00:00

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [32]:
# provide your solution here
dbGetQuery(conn, 'SELECT DISTINCT(SEASONS) FROM SEOUL_BIKE_SHARING')

  SEASONS
1 Winter
2 Spring
3 Summer
4 Autumn

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [33]:
# provide your solution here
dbGetQuery(conn, 'SELECT MIN(DATE), MAX(DATE) FROM SEOUL_BIKE_SHARING')

  MIN(DATE)  MAX(DATE)
1 01/01/2018 31/12/2017

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [35]:
# provide your solution here
dbGetQuery(conn, 'SELECT DATE, HOUR FROM SEOUL_BIKE_SHARING WHERE RENTED_BIKE_COUNT = (SELECT MAX(RENTED_BIKE_COUNT) FROM SEOUL_BIKE_SHARING)')

  DATE       HOUR
1 19/06/2018 18

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [39]:
# provide your solution here
dbGetQuery(conn, 'SELECT SEASONS, HOUR, AVG(TEMPERATURE), AVG(RENTED_BIKE_COUNT) FROM SEOUL_BIKE_SHARING GROUP BY SEASONS, HOUR ORDER BY 4 DESC')

   SEASONS HOUR AVG(TEMPERATURE) AVG(RENTED_BIKE_COUNT)
1  Summer  18   29.38791         2135.1413
2  Autumn  18   16.03185         1983.3333
3  Summer  19   28.27378         1889.2500
4  Summer  20   27.06630         1801.9239
5  Summer  21   26.27826         1754.0652
6  Spring  18   15.97222         1689.3111
7  Summer  22   25.69891         1567.8696
8  Autumn  17   17.27778         1562.8765
9  Summer  17   30.07691         1526.2935
10 Autumn  19   15.06346         1515.5679
11 Summer   8   24.53587         1418.5978
12 Autumn   8   10.55679         1345.0370
13 Autumn  20   14.32469         1321.7037
14 Spring  17   16.87889         1307.9778
15 Autumn  16   18.08123         1293.2099
16 Autumn  21   13.69012         1253.8148
17 Spring  19   14.67667         1247.7111
18 Summer  16   30.48804         1174.1739
19 Autumn  15   18.34321         1156.7037
20 Summer  23   25.23139         1153.9022
21 Autumn  22   13.09012         1130.2099
22 Spring  16   17.35889         1101.4556
23 Spring  20   13.57533         1060.5111
24 Autumn  14   18.15185         1058.8272
25 Spring   8   10.30867         1036.3778
26 Spring  21   12.83778         1021.1222
27 Summer  15   30.49022         1009.7174
28 Autumn  13   17.55802         1002.6667
29 Spring  15   17.51111          990.9778
30 Autumn  12   16.73951          934.6420
⋮  ⋮       ⋮    ⋮                ⋮
67 Winter  19   -1.5166667       304.03333
68 Winter  15    1.1666667       298.64444
69 Winter  14    0.8711111       284.28889
70 Winter  13    0.2166667       275.25556
71 Winter  12   -0.5666667       263.63333
72 Spring   6    9.2655556       257.23333
73 Autumn   3   11.0987500       256.55000
74 Winter   9   -4.8022222       254.60000
75 Spring   2   10.2686667       252.96667
76 Summer   5   23.2630435       245.93478
77 Winter  20   -2.0222222       243.23333
78 Winter  21   -2.4366667       240.50000
79 Winter  11   -1.8433333       228.32222
80 Winter  22   -2.8233333       225.13333
81 Summer   4   23.5313882       223.81522
82 Winter   7   -5.2488889       209.56667
83 Winter  10   -3.3144444       186.40000
84 Winter  23   -3.1733333       173.43333
85 Autumn   4   10.8037500       169.02500
86 Spring   3    9.9622222       168.47778
87 Winter   0   -3.6100000       165.17778
88 Autumn   5   10.5075000       163.41250
89 Winter   1   -3.8911111       159.05556
90 Winter   2   -4.1744444       117.78889
91 Spring   5    9.4533333       116.17778
92 Spring   4    9.6944444       108.22222
93 Winter   6   -5.0311111        92.82222
94 Winter   3   -4.3633333        77.81111
95 Winter   5   -4.8033333        51.22222
96 Winter   4   -4.5644444        50.47778

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [44]:
# provide your solution here
dbGetQuery(conn, 'SELECT SEASONS, HOUR, MAX(RENTED_BIKE_COUNT), MIN(RENTED_BIKE_COUNT), 
                    SQRT(AVG(RENTED_BIKE_COUNT*RENTED_BIKE_COUNT)-AVG(RENTED_BIKE_COUNT)*AVG(RENTED_BIKE_COUNT)) AS SD FROM SEOUL_BIKE_SHARING GROUP BY SEASONS, HOUR')

   SEASONS HOUR MAX(RENTED_BIKE_COUNT) MIN(RENTED_BIKE_COUNT) SD
1  Autumn   0   1336                   119                    219.14298
2  Autumn   1   1001                   144                    191.54216
3  Autumn   2    785                    55                    144.90134
4  Autumn   3    514                    28                    102.53108
5  Autumn   4    338                    24                     58.63957
6  Autumn   5    264                    24                     53.88174
7  Autumn   6    691                    23                    180.27049
8  Autumn   7   1556                     5                    457.96861
9  Autumn   8   2391                     6                    758.35956
10 Autumn   9   1322                     5                    334.52653
11 Autumn  10   1113                     2                    252.56839
12 Autumn  11   1284                    20                    302.57238
13 Autumn  12   1634                    17                    347.69066
14 Autumn  13   1849                    18                    369.30997
15 Autumn  14   1995                    17                    403.85277
16 Autumn  15   2200                     8                    455.21810
17 Autumn  16   2270                    14                    498.10638
18 Autumn  17   2432                    23                    554.31649
19 Autumn  18   3298                    40                    778.44135
20 Autumn  19   2518                    19                    571.14972
21 Autumn  20   2259                    12                    508.99136
22 Autumn  21   2212                    21                    490.92858
23 Autumn  22   1868                    14                    411.96934
24 Autumn  23   1523                     4                    292.97832
25 Spring   0   1089                    22                    253.38673
26 Spring   1    837                    23                    206.04322
27 Spring   2    590                     9                    145.32266
28 Spring   3    423                     2                    101.20444
29 Spring   4    252                     2                     59.64577
30 Spring   5    265                     6                     64.93117
⋮  ⋮       ⋮    ⋮                      ⋮                      ⋮
67 Summer  18   3556                   17                     884.08294
68 Summer  19   2984                   18                     728.87994
69 Summer  20   2579                   10                     662.21626
70 Summer  21   2505                   17                     596.13742
71 Summer  22   2309                   16                     516.64344
72 Summer  23   1732                   15                     377.80666
73 Winter   0    342                   42                      63.81163
74 Winter   1    337                   43                      65.84247
75 Winter   2    312                   38                      54.94533
76 Winter   3    230                   21                      37.68256
77 Winter   4    120                   20                      19.05561
78 Winter   5    100                   13                      18.98759
79 Winter   6    200                    9                      45.48372
80 Winter   7    498                    3                     125.47121
81 Winter   8    937                    4                     253.13778
82 Winter   9    509                    3                     111.70276
83 Winter  10    339                    4                      67.98150
84 Winter  11    388                    9                      78.23964
85 Winter  12    479                    4                      88.68163
86 Winter  13    606                    7                      98.32616
87 Winter  14    611                   17                     105.02394
88 Winter  15    621                    7                     117.54473
89 Winter  16    688                    9                     126.50569
90 Winter  17    646                    8                     131.99514
91 Winter  18    929                   11                     216.66413
92 Winter  19    619                   19                     140.32070
93 Winter  20    483                    8                      96.22694
94 Winter  21    512                   10                      98.08061
95 Winter  22    461                   13                      91.87687
96 Winter  23    366                   23                      67.49684

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [ ]:
# provide your solution here

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [ ]:
# provide your solution here

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [ ]:
# provide your solution here

In [ ]:
close(conn)

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>